body {
  margin: 0;
  padding: 0;
  background-image: url("wallpaper.jpg");
  background-color: rgb(127, 172, 113);
  background-size: contain;
  background-repeat: no-repeat;
  user-select: none;
  /* background-size: cover; */
  /* filter: drop-shadow(2px 2px 5px black); */
   
}

/* .pokedex {
  width: 80%;
  margin: 2em auto;
  background-color: azure;
  border-radius: 5px;
  color: rgb(235, 228, 36);
} */

.pokemons-grid {
  width: 68%;
  margin: 2% auto;
  display: grid;
  grid-template-columns: 40% 40% 40%;
  justify-content: center;
  gap: 10px;
}

.grid-item {
  margin: 0;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .pokemons-grid {
    grid-template-columns: 40% 40%;
  }
  .grid-item {
    font-size: 2vw;
  }
}